/*.float{
    position:fixed;
    width:45px;
    height:45px;
    bottom:20px;
    left:20px;
    background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
    color: #fff !important;
    border-radius:50px;
    text-align:center;
    !*box-shadow: 2px 2px 3px #999;*!
    z-index:99;
}*/

.my-float{
    margin-top:15px;
}

.float:hover{
    background-position: right center;
}

.float{
    line-height: 45px;
    color: #fff !important;
    height: 45px;
    width: 45px;
    padding: 0;
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 99;
    border-radius: 100%;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
}